@font-face {
    font-family: "Karrik-Italic";
    src: url(/fonts/Karrik-Italic.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
  }

@font-face {
    font-family: "Karrik-Regular";
    src: url(/fonts/Karrik-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
  }

/* GLOBAL */

body {
    font-family: Karrik-Regular;
    letter-spacing: -1px;
}

p {
    margin-top: 0;
    color: #CACACA; 
}

button {
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    color: #CACACA;
    font-family: Karrik-Regular;
    text-align: left;
    border: none;
    padding: 2px;
}

a {
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    font-family: Karrik-Regular;
    color: #CACACA;
    display: block;
}

img {
    width: 94%;
    height: 100%;
    object-fit: cover;
}


/* GRID+FOOTER+HEADER */

.grid-center {
    margin: 0 auto;
    width: 1200px;
}

.grid {
    z-index: 0;
    margin: 20px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 100px 0;
}

.double-col {
    grid-column: span 2;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.text-grid {
    display: grid;
}

.center-placestovisit {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    text-align: center;
}

/* BUTTON STATE */

.active-btn {
    font-weight: 800;
    background-color: transparent;
    text-decoration: none;
    color: #000000;
}

.active-btn-2 {
    font-weight: 800;
    background-color: transparent;
    text-decoration: none;
    color: #000000;
}

/* FOREWORD SECTION */

.foreword {
    grid-column: 2/6;
    color: #CACACA;
    letter-spacing: 0px;
    font-size: 20px;
    padding-right: 20px;
}

/* EXPLORE SECTION */

.explore {
    font-size: 18px;
    letter-spacing: 0px;
}

.card {
    margin-top: 0;
    color: #000000;
}

.bottom-numbering {
    align-self: end;
}

.mb20 {
    margin-bottom: 20px;
}

.mb40 {
    margin-bottom: 40px;
}

.foundationlink {
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    font-family: Karrik-Regular;
    letter-spacing: -1px;
    padding: 5px;
    border: 1px solid #000000;
    color: #000000;
    text-align: center;
}

/* CONTACTS SECTION */

.col3 {
    grid-column: 3/4; 
}

.col4 {
    grid-column: 4/6;
}

.mb0 {
    margin-bottom: 0px;
}

.mt20 {
    margin-top: 20px;
}



/* SLIDESHOW */

[data-component="slideshow"] .slide {
	display: none;
  text-align: center;
  width: 1200px;
  z-index: 10;
}

[data-component="slideshow"] .slide.active {
	display: block;
}

/* JS */

.display-false {
    display: none;
}

.display-false-2 {
    display: none;
}

.display-false-3 {
    display: none;
}