@font-face {
    font-family: "FT88-Regular";
    src: url(/fonts/FT88-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
  }

body {
    font-family: FT88-Regular;
    letter-spacing: -1px;
    color: #ffffff;
    background-color: #0E0E0E;
    font-size: 16px;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #3E3E3E;
    background: rgb(14,14,14);
    background: linear-gradient(0deg, rgba(14,14,14,1) 0%, rgba(14,14,14,1) 56%, rgba(255,255,255,0) 100%);
}

.flex-h {
    display: flex;
    justify-content: space-between;
}

.flex-v {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.w1200 {
    width: 1200px;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 540px;
    width: 500px;
    overflow: auto;
}

.video-size {
    background: #0E0E0E url(video/ptv-gf.gif) no-repeat center center;
    /* process of creation */
    width: 500px;
    height: 500px;
}

.center-contacts {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    padding: 20px;
    color: #3E3E3E;
    background: rgb(14,14,14);
    background: linear-gradient(180deg, rgba(14,14,14,1) 0%, rgba(14,14,14,1) 56%, rgba(255,255,255,0) 100%);
}

.mr20 {
    margin-right: 20px;
}

.mr5 {
    margin-right: 5px;
}

.mt20 {
    margin-top: 20px;
}

.mb0 {
    margin-bottom: 0;
    margin-top: 0;
}

button {
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    color: #3E3E3E;
    font-family: FT88-Regular;
    text-align: center;
    border: none;
    padding: 2px;
    font-size: 16px;
    letter-spacing: -1px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.grey {
    color: #3E3E3E;
}

/* BUTTON STATE */

.active-btn {
    background-color: transparent;
    text-decoration: none;
    color: #ffffff;
}

.active-btn-2 {
    background-color: transparent;
    text-decoration: none;
    color: #ffffff;
}

.display-false {
    display: none;
}

.display-false-2 {
    display: none;
}

/* LOADER */

.loader-bgc {
    z-index: 1;
    background: #0E0E0E url(video/ptv-gf.gif) no-repeat center center;
    background-size: 20%;
    width: 100%;
    height: 100%;
    position: fixed;
}